<div class="proposer-container">
  <BR />
  <section>
  <mat-label>受理編號</mat-label>
  <mat-form-field>
    <input matInput placeholder=""  color="accent" required />
  </mat-form-field>
  <mat-label>團險案件代碼</mat-label>
  <mat-form-field>
    <input name="tel" matInput placeholder="" required />
  </mat-form-field>
  <mat-label>報價編號</mat-label>
  <mat-form-field>
    <input name="name3" matInput placeholder="" required />
  </mat-form-field>
  <mat-label>報價編號</mat-label>
  <mat-form-field>
    <input name="name3" matInput placeholder="" required />
  </mat-form-field>


  </section>
  <section>
  <mat-label>姓名</mat-label>
  <mat-form-field>
    <input matInput placeholder=""  color="accent" required />
  </mat-form-field>
  <mat-label>電話</mat-label>
  <mat-form-field>
    <input name="tel" matInput placeholder="" required />
  </mat-form-field>
  <mat-label>地址</mat-label>
  <mat-form-field  style="width: 400px;">
    <input name="name3" matInput placeholder="" required />
  </mat-form-field>
  </section>
  <table>
    <tr>
      <td><mat-label>受理編號</mat-label></td>
      <td>
        <mat-form-field>
          <input
            matInput
            placeholder=""
            color="accent"
            [disabled]="true"
          />A124586789</mat-form-field
        >
      </td>
      <td><mat-label>團險案件代碼</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>報價編號</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
    </tr>
    <tr>
      <td><mat-label>保單號碼</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>保單狀態</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>團體代號</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
    </tr>
    <tr>
      <td><mat-label>要保人姓名</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>統編</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><mat-label>負責人姓名</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>負責人身分證號</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>負責人生日</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
    </tr>
    <tr>
      <td><mat-label>負責人國籍</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>市內電話</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>傳真電話</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
    </tr>
    <tr>
      <td><mat-label>郵遞區號</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>聯絡地址</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
      <td><mat-label>經營所在地</mat-label></td>
      <td>
        <mat-form-field>
          <input matInput placeholder="" color="accent" required
        /></mat-form-field>
      </td>
    </tr>
  </table>


  <mat-form-field>
    <mat-label>姓名</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>年齡</mat-label>
    <input matInput type="number" min="1">
  </mat-form-field>



</div>
